<!DOCTYPE html>
<head>
    <title>{{{ title }}}</title>
    <link rel='stylesheet' href='static/css/style.css' type='text/css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
    {{{ body }}}
</body>
</html>